/* style.css */

/* Botão personalizado */
.btn-custom {
    background-color: #D0A95D;
    color: white;
    border-radius: 50px;
    padding: 10px 30px;
  }
  
  /* Exemplo de título personalizado */
  h2 {
    color: #D0A95D;
    font-weight: bold;
  }
  
  /* Footer */
  footer {
    background-color: #464850;
    color: white;
  }
  